.wriper {
  width: 90rem;
  margin: 0 auto;
}

.header {
  background-color: gray;
  height: 10rem;
  padding-top: 2rem;
}

.header-box {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-titele {
  font-size: 2rem;
  margin: 0;
}

.header-box img {
  border-radius: 50%;

}

/* main */

.main {
  background-color: black;
  padding-top: 1rem;
  padding-top: 5rem;
}

.slider {
  width: 70rem;
  height: 40rem;
  border-radius: 1rem;
  margin: 0 auto;
  overflow: hidden;

}

.slider-img {
  list-style: none;
  display: flex;
  align-items: center;
  width: 280rem;
  margin: 0;
  padding: 0;

}

.picture img {
  width: 70rem;
  height: 40rem;
}

.slider-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.texts {
  list-style: none;
}

.text {
  font-size: 3rem;
  display: none;
  color: bisque;
}

.text.active {
  display: block;
}

.buttons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.button-div {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: burlywood;
  border: 0.5rem ridge brown;

}

.button-div.active {
  background-color: black;
}


/* footer */

.footer {
  background: darkslategray;
}

.footer-box {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}